@import "../App.css";

.container-head {
	position: fixed;
	background: #FAFAFA;
	top: 0;
	width: 100%;
	display: block;
	z-index: 1000;
	height: 210px;
}

.container-foot {
	position: fixed;
	background: #FAFAFA;
	bottom: 0;
	width: 100%;
	display: block;
}

.text-header {
	font-size: 80px;
}

.text-center {
	margin-left: auto;
	margin-right: auto;
}
