@import "../App.css";

.sidebar {
	position: absolute;
	width: 275px;
	height: 750px;
	top: 280px;
	right: 0;
	z-index: 100;
}

@media only screen and (max-width: 1520px) {
	.sidebar {
	  display: none;
	}
  }

  .thumb {
	transform: translateY(-100px);
	max-height:100%;
	max-width:100%;
  }

.photo-old {
	height: 115px;
	width: 115px;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
}

.close {
	height: 115px;
	width: 115px;
}
