@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans&display=swap');

/*
 * font-family: 'Dancing Script', cursive;
 * font-family: 'Josefin Sans', sans-serif;
 */

/*
 * Color scheme:
 * Dusty (pink) #96858F
 * Lavendar (blue) #6D7993
 * Overcast (gray) #9099A2
 * Paper (light) #FAFAFA
 */

.App {
  text-align: center;
  position: relative;
}

html {
}

body {
	box-sizing: border-box;
}

.overlay {
	background: blue;
	position: absolute;
	top: 150px;
	right: 750px;
}

#capture {
	width: 350px;
	height: 350px;
	position: absolute;
	background: pink;
	top: 200px;
	right: 450px;
}

.container-icon {
	height: 35px;
	width: 35px;
	position: absolute;
	right: 0;
}

.small-top-margin {
	margin-top: 35px;
}

.icon {
	height:100%;
	width: 100%;
}

.shadow {
	box-shadow: 1px 5px 4px #6D7993;
}

.text-primary {
	font-family: 'Dancing Script', cursive;
}

.text-secondary {
	font-family: 'Josefin Sans', sans-serif;
}

.container-body {
	margin: 205px 120px 0 120px;
	height: 100vh;
	display: block;
}

.container-login {
	margin: 400px 80px 0 80px;
	height: 30%;
}
